* {
    margin: 0;
    padding: 0;
}

.navbar-tags {
    position: sticky;
    z-index: 100;
    top: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 15vh;
    background-color: #053658;
    font-family: "Montserrat", sans-serif;
    font-size: 2.22vh;
}

.normal-company-logo {
    height: 5vh;
}

.nav-link {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-weight: 600;
    padding: 0.5vh 1vh;
}

.nav-link:hover {
    background-color: #145475;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.navbar ol {
    display: flex;
    justify-content: space-between;
    gap: 1.86vw;
    list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.services-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10vw;
    z-index: 1;
    text-wrap: nowrap;
    background-color: #053658;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 1vh;
}

.services-dropdown ul {
    display: flex;
    flex-direction: column;
}
.services-dropdown a {
    text-decoration: none;
    display: block;
    padding: 0.5vw;
    font-size: 1.67vh;
}

.dropdown:hover .services-dropdown {
    display: block;
}

.services-dropdown li:hover {
    background-color: #145475;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.navbar ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.contact-us {
    text-decoration: none;
    color: black;
    font-weight: 700;
    background-color: #3aa2d9;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.contact-us:hover {
    box-shadow: 0 0 50px #4c8bf5;
}

.hero-section {
    height: 80vh;
    background: url(./assets/hero-section/hero-background.png),
        radial-gradient(circle at top right, #156e95, #145475, #09203a);
    background-size: 65vw, 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
}

.hero-section-main-content,
.hero-section-client {
    width: 40vw;
}

.hero-section-main-content {
    font-family: "Poppins", sans-serif;
}

.hero-section-main-content {
    h1,
    p,
    h2 {
        margin-top: 0;
        margin-bottom: 4vh;
    }

    h1 {
        display: inline-block;
        font-size: 3.33vw;
        text-shadow: 6px 6px 10px black;
        color: white;
    }

    h2 {
        font-size: 3.75vw;
        color: rgb(220, 220, 220);
        padding-left: 2vw;
    }

    p {
        font-size: 1.04vw;
        color: white;
    }

    span {
        color: #4c8bf5;
    }
}

.hero-services {
    display: grid;
    grid-template-columns: repeat(5, 6vw);

    p {
        margin-bottom: 2vh;
        font-size: 0.83vw;
        text-align: center;
        border-right: 1px solid white;
    }
}

.hero-services p:nth-child(1) {
    border-left: 1px solid white;
}

.hero-section-client {
    display: grid;
    grid-template-columns: repeat(3, 6vw);
    grid-template-rows: 5vh 2vw 1vw;
    row-gap: 0;
}

.lets-discuss-btn {
    grid-column: 1 / span 2;
    background-color: #3aa2d9;
    box-shadow: 3px 3px 10px black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 0;
    margin-bottom: 1vh;
    padding: 0;

    a {
        color: black;
        text-decoration: none;
        font-size: 1.25vw;
        font-weight: 700;
    }
}

.lets-discuss-btn:hover {
    box-shadow: 0 0 50px #4c8bf5;
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 1vh 5vw;
    }

    .contact-us {
        display: none;
    }

    .hero-section {
        height: 45vh;
        background: radial-gradient(
            circle at top right,
            #156e95,
            #145475,
            #09203a
        );
        padding: 0 5vw;
    }

    .hero-section-client,
    .hero-section-main-content {
        width: 90vw;
    }

    .hero-section-main-content {
        h1 {
            font-size: 3.75vh;
        }

        h2 {
            font-size: 3.33vh;
        }
    }

    .hero-services {
        grid-template-columns: repeat(5, 1fr);
        align-items: center;

        p {
            font-size: 1.45vh;
        }
    }

    .hero-section-client {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 2.5vh);
        margin-top: 1vh;
    }

    .lets-discuss-btn {
        grid-column: 1 / span 3;
        grid-row: 1 / 4;
        width: 50%;

        a {
            font-size: 1.8vh;
        }
    }

    .client-firstline,
    .client-content {
        display: none;
    }
}

.client-content,
.client-firstline {
    text-shadow: 1px 1px 3px black;
}

.client-firstline {
    grid-row: 2;
    color: rgb(76, 213, 255);
    font-weight: 900;
    font-size: 1.25vw;
    margin-bottom: 0;
    align-self: end;
}

.client-content {
    grid-row: 3;
    color: white;
    font-size: 0.8vw;
    margin: 0;
    align-self: start;
}

@keyframes slide {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to {
        transform: translate(-100%);
        -webkit-transform: translate(-100%);
        -moz-transform: translate(-100%);
        -ms-transform: translate(-100%);
        -o-transform: translate(-100%);
    }
}

.client-logos {
    overflow: hidden;
    padding: 2.1vh 0;
    white-space: nowrap;
}

.logos-slide {
    animation: 20s slide infinite linear;
    -webkit-animation: 20s slide infinite linear;
    display: inline-block;
}

.logos-slide img {
    height: 8vh;
    margin: 0 4vw;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.company-values {
    display: flex;
    flex-direction: column;
    margin: 5vh 15vw;
    font-family: sans-serif;
}

.first-row,
.second-row {
    display: flex;
    justify-content: space-between;
}

.our-values {
    display: flex;
    flex-direction: column;
    width: 22vw;
    margin: 1vw;
    padding: 1vw;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}

.main-title {
    font-size: 1.86vw;
    align-self: center;
    text-shadow: 1px 1px 5px black;
}

.values-title {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

.values-title h3 {
    font-size: 1.25vw;
}

.values-content p {
    font-size: 0.83vw;
}

.values-title img {
    width: 3vw;
    height: 5vh;
    margin-right: 2vw;
    background-color: #3aa2d9;
    padding: 0.3vw;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.company-services {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.our-service {
    display: flex;
    justify-content: center;
    margin: 1vh 0;
    padding: 2vh 8vw;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px black;
}

.service {
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 1vw;
    background-color: white;
    box-shadow: 1px 1px 2px black;
    display: grid;
    grid-template-columns: 15vw;
    grid-template-rows: 20vh 22vh 8vh;
}

.service:nth-last-child(1) {
    margin-right: 0;
}

.service:nth-child(1) .service-img {
    background-image: url(./assets/service-logo/seo-image.jpeg);
}

.service:nth-child(2) .service-img {
    background-image: url(./assets/service-logo/smm-image.jpeg);
}

.service:nth-child(3) .service-img {
    background-image: url(./assets/service-logo/ads-image.jpg);
}

.service:nth-child(4) .service-img {
    background-image: url(./assets/service-logo/ecommerce-image.png);
}

.service:nth-child(5) .service-img {
    background-image: url(./assets/service-logo/web-image.jpg);
}

.service-img {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@counter-style check {
    system: cyclic;
    symbols: "\2714";
    suffix: " ";
}

.service-content {
    margin: 2vh 0.5vw;

    h3 {
        font-size: 1.04vw;
    }

    ul {
        list-style: check;
        margin-top: 1vh;
        margin-left: 0.9vw;
        font-size: 0.73vw;
    }
}

.service button {
    text-decoration: none;
    color: black;
    font-weight: 700;
    background-color: #3aa2d9;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    width: 50%;
    height: 50%;
    justify-self: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.service button:hover {
    box-shadow: 0 0 50px #4c8bf5;
    width: 60%;
}

.service a {
    text-decoration: none;
    color: black;
    font-size: 0.93vw;
}

.testimony {
    margin: 5vh 20vw;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.grid-testimonials {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    grid-template-rows: repeat(3, 15vh);
    margin: 5vh 0;
    row-gap: 1vw;
}

.cust-pic {
    height: 95%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 1px 10px black;
    margin-right: 1vw;
    margin-left: 0.5vw;
}

.cust-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cust-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin-bottom: 1vh;
        font-size: 1.25vw;
    }

    p {
        font-size: 0.94vw;
    }
}

.cust-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.2vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cust-test:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 1vw;
}

.cust-test:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 1vw;
}

.cust-test:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 1vw;
}

.review {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    display: flex;
    font-size: 0.83vw;
}

.cust-review1 {
    display: flex;
}

.cust-review2,
.cust-review3 {
    display: none;
}

.cust-review1,
.cust-review2,
.cust-review3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1vw;
    line-height: 3vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* .cust-review:nth-last-child(-n + 2) {
    display: none;
} */

.cust-test:nth-child(1):hover {
    margin-right: 0;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(1):hover ~ .review .cust-review1 {
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(2):hover {
    margin-right: 0;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(2):hover ~ .review .cust-review1 {
    display: none;
}

.cust-test:nth-child(2):hover ~ .review .cust-review2 {
    display: flex;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(3):hover {
    margin-right: 0;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(3):hover ~ .review .cust-review1 {
    display: none;
}

.cust-test:nth-child(3):hover ~ .review .cust-review2 {
    display: none;
}

.cust-test:nth-child(3):hover ~ .review .cust-review3 {
    display: flex;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    padding: 2vh 20vw;
    background-color: #292929;
    font-family: "Raleway", sans-serif;
    font-size: 0.625vw;
    color: #9b9b9b;
}

.footer-socmed,
.footer-services,
.footer-company {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4vh auto;

    a {
        text-decoration: none;
        color: #9b9b9b;
    }
}

.footer-company {
    img {
        height: 4vh;
    }

    p {
        margin-top: 2vh;
        padding-right: 2vw;
    }
}

.footer-services {
    li {
        list-style-type: none;
        margin-bottom: 1vh;
    }

    ul {
        margin-top: 2vh;
    }

    h4 {
        align-self: center;
    }
}

.footer-socmed {
    h4 {
        align-self: center;
    }
}

.socmed-grid {
    display: grid;
    grid-template-columns: 3vw 15vw;
    grid-template-rows: repeat(4, 3vh);
    gap: 0.2vh 0;
    margin-top: 2vh;

    img {
        height: 2vh;
        width: auto;
        object-fit: cover;
    }
}
