* {
    margin: 0;
    padding: 0;
}

.navbar-tags {
    position: sticky;
    z-index: 100;
    top: 0px;
}

.nav-phone {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 15vh;
    background-color: #053658;
    font-family: "Montserrat", sans-serif;
    font-size: 2.22vh;
}

.normal-company-logo {
    height: 4vw;
}

.nav-link {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-weight: 600;
    padding: 0.5vh 1vh;
}

.nav-link:hover {
    background-color: #145475;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.navbar ol {
    display: flex;
    justify-content: space-between;
    gap: 1.86vw;
    list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.services-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10vw;
    z-index: 1;
    text-wrap: nowrap;
    background-color: #053658;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 1vh;
}

.services-dropdown ul {
    display: flex;
    flex-direction: column;
}
.services-dropdown a {
    text-decoration: none;
    display: block;
    padding: 0.5vw;
    font-size: 1.67vh;
}

.dropdown:hover .services-dropdown {
    display: block;
}

.services-dropdown li:hover {
    background-color: #145475;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.navbar ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.contact-us {
    text-decoration: none;
    color: black;
    font-weight: 700;
    background-color: #3aa2d9;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.contact-us:hover {
    box-shadow: 0 0 50px #4c8bf5;
}

.hero-section {
    height: 80vh;
    background: url(./assets/hero-section/hero-background.png),
        radial-gradient(circle at top right, #156e95, #145475, #09203a);
    background-size: 65vw, 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
}

.hero-section-main-content,
.hero-section-client {
    width: 40vw;
}

.hero-section-main-content {
    font-family: "Poppins", sans-serif;
}

.hero-section-main-content {
    h1,
    h2,
    p {
        margin-top: 0;
        margin-bottom: 4vh;
    }

    h1 {
        display: inline-block;
        font-size: 3.33vw;
        text-shadow: 6px 6px 10px black;
        color: white;
    }

    h2 {
        font-size: 3.75vw;
        color: rgb(220, 220, 220);
        padding-left: 2vw;
    }

    p {
        font-size: 1.04vw;
        color: white;
    }

    span {
        color: #4c8bf5;
    }
}

.hero-services {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    p {
        margin-bottom: 2vh;
        font-size: 1.04vw;
        text-align: center;
        border-right: 1px solid white;
    }
}

.hero-services p:nth-child(1) {
    border-left: 1px solid white;
}

.hero-section-client {
    display: grid;
    grid-template-columns: repeat(3, 6vw);
    grid-template-rows: 5vh 2vw 1vw;
    row-gap: 0;
}

.lets-discuss-btn {
    grid-column: 1 / span 2;
    background-color: #3aa2d9;
    box-shadow: 3px 3px 10px black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 0;
    margin-bottom: 1vh;
    padding: 0;

    a {
        color: black;
        text-decoration: none;
        font-size: 1.25vw;
        font-weight: 700;
    }
}

.lets-discuss-btn:hover {
    box-shadow: 0 0 50px #4c8bf5;
}

.client-content1,
.client-content2,
.client-content3,
.client-firstline1,
.client-firstline2,
.client-firstline3 {
    text-shadow: 1px 1px 3px black;
}

.client-firstline1,
.client-firstline2,
.client-firstline3 {
    grid-row: 2;
    color: rgb(76, 213, 255);
    font-weight: 900;
    font-size: 1.25vw;
    margin-bottom: 0;
    align-self: end;
}

.client-content1,
.client-content2,
.client-content3 {
    grid-row: 3;
    color: white;
    font-size: 0.8vw;
    margin: 0;
    align-self: start;
}

@keyframes slide {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to {
        transform: translate(-100%);
        -webkit-transform: translate(-100%);
        -moz-transform: translate(-100%);
        -ms-transform: translate(-100%);
        -o-transform: translate(-100%);
    }
}

.client-logos {
    overflow: hidden;
    padding: 2.1vh 0;
    white-space: nowrap;
}

.logos-slide {
    animation: 20s slide infinite linear;
    -webkit-animation: 20s slide infinite linear;
    display: inline-block;
}

.logos-slide img {
    height: 8vh;
    margin: 0 4vw;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.company-values {
    display: flex;
    flex-direction: column;
    margin: 5vh 15vw;
    font-family: sans-serif;
}

.first-row,
.second-row {
    display: flex;
    justify-content: space-between;
}

.main-title {
    font-size: 1.86vw;
    align-self: center;
    text-shadow: 1px 1px 5px black;
}

.our-values {
    display: grid;
    grid-template-columns: 3.1vw 0.7fr;
    grid-template-rows: 0.3fr 1fr;
    gap: 1vw;
    width: 22vw;
    margin: 1vw;
    padding: 1vw;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 2px 2px 10px black;

    img {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        width: 2.5vw;
        height: 2.5vw;
        background-color: #3aa2d9;
        padding: 0.3vw;
        border: 1px solid black;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        align-self: center;
        justify-self: center;
    }

    h3 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        align-self: center;
        justify-content: start;
        font-size: 1.25vw;
    }

    p {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        align-self: center;
        font-size: 0.83vw;
    }
}

.company-services {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.our-service {
    display: flex;
    justify-content: center;
    margin: 1vh 0;
    padding: 2vh 5vw;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px black;
}

.service {
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 1vw;
    background-color: white;
    box-shadow: 1px 1px 2px black;
    display: grid;
    grid-template-columns: 17vw;
    grid-template-rows: 20vh 30vh 8vh;
}

.service:nth-last-child(1) {
    margin-right: 0;
}

.service:nth-child(1) .service-img {
    background-image: url(./assets/service-logo/seo-image.jpeg);
}

.service:nth-child(2) .service-img {
    background-image: url(./assets/service-logo/smm-image.jpeg);
}

.service:nth-child(3) .service-img {
    background-image: url(./assets/service-logo/ads-image.jpg);
}

.service:nth-child(4) .service-img {
    background-image: url(./assets/service-logo/ecommerce-image.png);
}

.service:nth-child(5) .service-img {
    background-image: url(./assets/service-logo/web-image.jpg);
}

.service-img {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@counter-style check {
    system: cyclic;
    symbols: "\2714";
    suffix: " ";
}

.service-content {
    margin: 2vh 0.5vw;

    h3 {
        font-size: 1.04vw;
    }

    ul {
        list-style: check;
        margin-top: 1vh;
        margin-left: 0.9vw;
        font-size: 1vw;
    }
}

.service button {
    text-decoration: none;
    background-color: #3aa2d9;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    width: 50%;
    height: 50%;
    justify-self: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    a {
        text-decoration: none;
        color: black;
        font-size: 0.93vw;
        font-weight: 700;
    }
}

.service button:hover {
    box-shadow: 0 0 50px #4c8bf5;
    width: 60%;
}

.testimony {
    margin: 5vh 20vw;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.grid-testimonials {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    grid-template-rows: repeat(3, 15vh);
    margin: 5vh 0;
    row-gap: 1vw;
}

.cust-pic {
    height: 95%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 1px 10px black;
    margin-right: 1vw;
    margin-left: 0.5vw;
}

.cust-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cust-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin-bottom: 1vh;
        font-size: 1.25vw;
    }

    p {
        font-size: 0.94vw;
    }
}

.cust-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.2vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 1vw;
}

.cust-test:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.cust-test:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.cust-test:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.cust-review1 {
    display: flex;
}

.cust-review2,
.cust-review3 {
    display: none;
}

.cust-review1,
.cust-review2,
.cust-review3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1vw;
    line-height: 3vh;
    border: 1px solid rgba(0, 0, 0, 0.2);

    p {
        font-size: 1.1vw;
    }
}

.cust-test:nth-child(1):hover {
    margin-right: 0;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(1):hover ~ .cust-review1 {
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(2):hover {
    margin-right: 0;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(2):hover ~ .cust-review1 {
    display: none;
}

.cust-test:nth-child(2):hover ~ .cust-review2 {
    display: flex;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(3):hover {
    margin-right: 0;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.cust-test:nth-child(3):hover ~ .cust-review1 {
    display: none;
}

.cust-test:nth-child(3):hover ~ .cust-review2 {
    display: none;
}

.cust-test:nth-child(3):hover ~ .cust-review3 {
    display: flex;
    border: 1px solid black;
    box-shadow: 0 0 35px black;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    padding: 2vh 20vw;
    background-color: #292929;
    font-family: "Raleway", sans-serif;
    font-size: 0.83vw;
    color: #9b9b9b;
}

.footer-socmed,
.footer-services,
.footer-company {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh auto;

    a {
        text-decoration: none;
        color: #9b9b9b;
    }
}

.footer-company {
    img {
        height: 5vh;
    }

    p {
        margin-top: 2vh;
        padding-right: 2vw;
    }
}

.footer-services {
    li {
        list-style-type: none;
        margin-bottom: 1vh;
    }

    ul {
        margin-top: 2vh;
    }

    h4 {
        align-self: center;
        font-size: 1.04vw;
    }
}

.footer-socmed {
    h4 {
        align-self: center;
        font-size: 1.04vw;
    }
}

.socmed-grid {
    display: grid;
    grid-template-columns: 3vw 15vw;
    grid-template-rows: repeat(4, 3vh);
    gap: 0.2vh 0;
    margin-top: 2vh;

    img {
        height: 3vh;
        width: auto;
        object-fit: cover;
        align-self: center;
        justify-self: start;
    }

    p {
        align-self: center;
    }
}

@media screen and (max-width: 480px) {
    .nav-phone {
        display: block;
        right: 4vw;
        position: absolute;
        cursor: pointer;
        width: 6vw;
        height: 5vw;
        border: 1px solid white;
        border-radius: 5px;
        padding: 1vw;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .nav-phone span {
        position: absolute;
        width: 50%;
        height: 1vw;
        background-color: white;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

    .nav-phone span:nth-child(odd) {
        left: 1vw;
        border-radius: 9px 0 0 9px;
    }

    .nav-phone span:nth-child(even) {
        right: 1vw;
        border-radius: 0 9px 9px 0;
    }

    .nav-phone span:nth-child(1),
    .nav-phone span:nth-child(2) {
        top: 1vw;
    }

    .nav-phone span:nth-child(3),
    .nav-phone span:nth-child(4) {
        top: 3vw;
    }

    .nav-phone span:nth-child(5),
    .nav-phone span:nth-child(6) {
        top: 5vw;
    }

    .nav-open .nav-phone span:nth-child(3),
    .nav-open .nav-phone span:nth-child(4) {
        opacity: 0;
    }

    .nav-open .nav-phone span:nth-child(1),
    .nav-open .nav-phone span:nth-child(6) {
        transform: rotate(45deg);
    }

    .nav-open .nav-phone span:nth-child(2),
    .nav-open .nav-phone span:nth-child(5) {
        transform: rotate(-45deg);
    }

    .nav-open .nav-phone span:nth-child(1),
    .nav-open .nav-phone span:nth-child(5) {
        transform-origin: left center;
        left: 1.5vw;
    }

    .nav-open .nav-phone span:nth-child(2),
    .nav-open .nav-phone span:nth-child(6) {
        transform-origin: right center;
        right: 1.5vw;
    }

    .nav-open .nav-phone span:nth-child(1) {
        top: 0.55vw;
    }

    .nav-open .nav-phone span:nth-child(2) {
        top: 0.55vw;
    }

    .nav-open .nav-phone span:nth-child(5) {
        top: 5.25vw;
    }

    .nav-open .nav-phone span:nth-child(6) {
        top: 5.25vw;
    }

    .navbar ol {
        display: none;
    }

    .nav-open .navbar ol {
        position: fixed;
        right: 4vw;
        top: 11vw;
        display: flex;
        flex-direction: column;
        background-color: #053658;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 3vw 2vw;

        li {
            margin-bottom: 2vw;
        }

        a {
            font-size: 5vw;
        }
    }

    .dropdown:hover .services-dropdown {
        display: none;
    }

    .normal-company-logo {
        height: 9vw;
    }

    .navbar {
        padding: 2vw 4vw;
    }

    .contact-us {
        display: none;
    }

    .hero-section {
        height: 90vw;
        background: radial-gradient(
            circle at top right,
            #156e95,
            #145475,
            #09203a
        );
        padding: 0 5vw;
    }

    .hero-section-client,
    .hero-section-main-content {
        width: 90vw;
    }

    .hero-section-main-content {
        h1 {
            font-size: 8vw;
        }

        h2 {
            font-size: 6vw;
        }
    }

    .hero-services {
        grid-template-columns: repeat(5, 1fr);
        align-items: center;

        p {
            font-size: 3vw;
            padding: 1vw;
        }
    }

    .hero-section-client {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 4vw);
        margin-top: 3vw;
    }

    .lets-discuss-btn {
        grid-column: 1 / span 3;
        grid-row: 1 / 4;

        a {
            font-size: 4vw;
        }
    }

    .client-firstline1 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
    }

    .client-firstline2 {
        grid-column: 5 / span 1;
        grid-row: 1 / span 1;
    }

    .client-firstline3 {
        grid-column: 6 / span 1;
        grid-row: 1 / span 1;
    }

    .client-content1 {
        grid-column: 4 / span 1;
        grid-row: 2 / span 2;
    }

    .client-content2 {
        grid-column: 5 / span 1;
        grid-row: 2 / span 2;
    }

    .client-content3 {
        grid-column: 6 / span 1;
        grid-row: 2 / span 2;
    }

    .client-firstline1,
    .client-firstline2,
    .client-firstline3 {
        font-size: 4vw;
        margin-left: 2.5vw;
        align-self: center;
    }

    .client-content1,
    .client-content2,
    .client-content3 {
        font-size: 2.5vw;
        letter-spacing: 0.5vw;
        margin-left: 2.5vw;
        align-self: start;
    }

    .logos-slide {
        animation: 15s slide infinite linear;
        -webkit-animation: 15s slide infinite linear;
    }

    .logos-slide img {
        height: 12vw;
    }

    .company-values {
        margin: 1vw 5vw;
    }

    .main-title {
        font-size: 5vw;
        margin: 2vw 0;
    }

    .first-row,
    .second-row {
        flex-direction: column;
    }

    .our-values {
        grid-template-columns: 0.3fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        gap: 1vw;
        height: 25vw;
        width: auto;

        img {
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;
            width: 11vw;
            height: 11vw;
            padding: 2vw;
            align-self: center;
            justify-self: center;
        }

        h3 {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
            align-self: center;
            justify-content: start;
            align-self: end;
            font-size: 4.5vw;
        }

        p {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            align-self: start;
            font-size: 3.5vw;
        }
    }

    .our-service {
        overflow-y: hidden;
        scrollbar-width: none;
        justify-content: start;
    }

    .service {
        min-width: 63vw;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr 0.3fr;
        margin: 5vw;
    }

    .service-content {
        h3 {
            font-size: 4.5vw;
            margin-left: 2vw;
        }

        ul {
            list-style: check;
            margin: 3vw 0;
            padding-left: 10vw;
            padding-right: 4vw;
            font-size: 3.5vw;
            letter-spacing: 0.05vw;
        }
    }

    .service button {
        width: 60%;
        height: 80%;

        a {
            font-size: 4vw;
        }
    }

    .testimony {
        margin: 2vw 5vw;
        height: auto;
    }

    .cust-review2,
    .cust-review3 {
        display: block;
    }

    .grid-testimonials {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        margin: 2vw 0;
        gap: 0;
    }

    .cust-test {
        margin-right: 0;
    }

    .cust-test:nth-child(1) {
        grid-column: auto;
        grid-row: 1 span 1;
    }

    .cust-review1 {
        grid-column: auto;
        grid-row: 2 / span 1;
        margin-bottom: 3vw;
    }

    .cust-test:nth-child(2) {
        grid-column: auto;
        grid-row: 3 / span 1;
    }

    .cust-review2 {
        grid-column: auto;
        grid-row: 4 / span 1;
        margin-bottom: 3vw;
    }

    .cust-test:nth-child(3) {
        grid-column: auto;
        grid-row: 5 / span 1;
    }

    .cust-review3 {
        grid-column: auto;
        grid-row: 6 / span 1;
        margin-bottom: 3vw;
    }

    .cust-pic {
        height: 20vw;
        width: 20vw;
        aspect-ratio: 1 / 1;
        margin: 1vw;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .cust-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3vw;

        h3 {
            margin-bottom: 1vh;
            font-size: 4.5vw;
        }

        p {
            font-size: 3.5vw;
        }
    }

    .cust-review1,
    .cust-review2,
    .cust-review3 {
        padding: 3vw;

        p {
            font-size: 3.2vw;
        }
    }

    .cust-test {
        pointer-events: none;
    }

    .grid-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 13vw auto;
        column-gap: 3vw;
        padding: 5vw 5vw;
    }

    .footer-company {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            display: none;
        }

        img {
            height: 12vw;
        }
    }

    .footer-services {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;

        h4 {
            font-size: 5vw;
        }

        a {
            font-size: 3vw;
        }
    }

    .footer-socmed {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;

        h4 {
            font-size: 5vw;
        }
    }

    .socmed-grid {
        grid-template-columns: 0.3fr auto;

        p {
            align-self: center;
        }

        a {
            font-size: 3vw;
        }

        img {
            height: 5vw;
            padding: 0 1vw;
            align-self: center;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .hero-section {
        padding: 0 5vw;
        background-size: 60vw, 100%;
    }

    .hero-section-main-content,
    .hero-section-client {
        width: 53vw;
    }

    .hero-services {
        p {
            display: flex;
            align-items: center;
        }
    }

    .hero-section-client {
        grid-template-columns: 10vw 10vw 12vw;
        grid-template-rows: 4vw 3vw 3vw;
    }

    .client-firstline1,
    .client-firstline2,
    .client-firstline3 {
        font-size: 2vw;
    }

    .client-content1,
    .client-content2,
    .client-content3 {
        font-size: 1.5vw;
    }

    .main-title {
        font-size: 2.5vw;
        margin-bottom: 1vw;
    }

    .hero-section-main-content {
        h1,
        h2,
        p {
            margin-bottom: 8vh;
        }

        p {
            font-size: 1.5vw;
            padding: 0 0.5vw;
            margin-bottom: 3vw;
        }
    }

    .lets-discuss-btn {
        grid-column: 1 / span 3;
        height: 100%;
        width: 70%;

        a {
            font-size: 1.8vw;
        }
    }

    .company-values {
        margin: 7vh 5vw;
    }

    .our-values {
        grid-template-columns: 5vw 1fr;
        width: 25vw;
        height: auto;

        img {
            width: 4vw;
            height: 4vw;
        }

        h3 {
            font-size: 2vw;
        }

        p {
            font-size: 1.75vw;
        }
    }

    .our-service {
        overflow-y: hidden;
        scrollbar-width: none;
        justify-content: start;
    }

    .service {
        min-width: 35vw;
        height: 50vw;
        grid-template-columns: 1fr;
        grid-template-rows: 1.2fr 1.5fr 0.3fr;
        margin: 2vw;
    }

    .service-content {
        h3 {
            font-size: 2.4vw;
            margin-left: 1vw;
        }

        ul {
            margin: 1vw 0;
            padding-left: 2.2vw;
            padding-right: 1vw;
            font-size: 1.7vw;
            align-self: end;
        }
    }

    .service button {
        width: 80%;
        height: 80%;

        a {
            font-size: 2vw;
        }
    }

    .testimony {
        margin: 5vh 5vw;
        min-height: 50vw;
    }

    .grid-testimonials {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 20vh);
    }

    .cust-detail {
        h3 {
            margin-bottom: 1vh;
            font-size: 2.4vw;
        }

        p {
            font-size: 1.5vw;
        }
    }

    .cust-review1,
    .cust-review2,
    .cust-review3 {
        p {
            font-size: 1.5vw;
        }
    }

    .grid-footer {
        grid-template-columns: 1fr 0.5fr 0.5fr;
        padding: 3vh 10vw;
        font-size: 1.4vw;
    }

    .footer-socmed,
    .footer-services,
    .footer-company {
        grid-template-rows: 6vh auto;
        h4 {
            font-size: 2vw;
        }
    }

    .footer-company {
        img {
            height: 6vh;
        }
    }

    .socmed-grid {
        grid-template-columns: 5vh auto;
        grid-template-rows: repeat(4, 4vh);

        img {
            height: 3.5vh;
        }

        p {
            align-self: center;
        }
    }
}
